@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #252525;
  --color-accent-50: #f9f9f9;
  --color-accent-100: #f0f0f0;
  --color-accent-200: #e0e0e0;
  --color-accent-300: #c0c0c0;
  --color-accent-400: #a0a0a0;
  --color-accent-500: #808080;
  --color-accent-600: #606060;
  --color-accent-700: #404040;
  --color-accent-800: #252525;
  --color-accent-900: #1a1a1a;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}